* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Muller, sans-serif;
    font-size: 16px;
}

body {
    max-width: 1920px;
}

a { 
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    /* background-color: gray; */
}

.mark-span {
    color: #0170B0;
}

.bold-span {
    font-weight: bold;
}

.btn {
    display: block;
    background: linear-gradient(276.82deg, #FF0000 -10.3%, #FF2272 75.13%);
    box-shadow: 0px 0px 15px rgba(255, 34, 114, 0.3);
    border-radius: 47px;
    max-width: 265px;
    text-align: center;
    padding: 20px 44px;
    font-size: 1.125rem;
    color: white;
}

.btn:hover {
    background: linear-gradient(276.82deg, #FF3945 -10.3%, #FF4996 75.13%);
    box-shadow: 0px 13px 8px rgba(251, 29, 109, 0.06), 0px 0px 15px rgba(255, 48, 98, 0.3);
}


.title {
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
    margin-bottom: 5px;
    color: #29292B;
}

.title .mark-span {
    font-size: inherit;
}

.subtitle {
    display: block;
    font-size: 1.375rem;
    text-align: center;
    margin-bottom: 25px;
    color: #A0A0A0;
}

.form__group {
    margin-bottom: 30px;
}

.input-style{
    font-size: 18px;
    color: #A3A3A3;
    transition: 0.3s;
}

.input-style {
    width: 94%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #A0A0A0;
    background-color: transparent;
    outline: none;
}
.input-style:focus{
    border-bottom: 1px solid #FF0000;
}

.input-style:focus, .input-style:focus::placeholder{
    color: #FF0000;
}

/* NAV */

.nav {
    width: 100%;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    margin: 0 auto;
    
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo-img {
    max-width: 166px;
    margin-right: 20px;
}

.nav__logo-text {
    max-width: 130px;
    color: #0170B0;
    font-size: 0.875rem;
}

.nav__item {
    color: #A0A0A0;
    font-size: 1rem;
}

.nav__contacts{
    position: relative;
}

.nav__contacts::before{
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    background-image: url(./svg/logo-phone.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 2px;
    left: -40px;
}

.nav__phone {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: linear-gradient(316.47deg, #0170B0 4.47%, #18BBEB 110.72%);
}

.nav__link {
    color: #0170B0;
}

.nav__menu {
    display: none;
    width: 25px;
    height: 18px;
    content: "";
    background-image: url(./svg/nav-burger.svg);
    cursor: pointer;
}

/* NAV ADAPTIVE */



/* HEADER */

.header{
    padding-top: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./img/line-1.png);
}

.header .mark-span {
    font-size: 3.4375rem;
}

.header__wrap{
    display: flex;
    justify-content: center;
}

.header__left{
    width: 50%;
    margin-right: 40px;
}

.header__img {
    display: block;
    margin-left: auto;
}

.header__right{
    width: 42%;
}

.header__title {
    margin-bottom: 10px;
    color: #29292B;
    font-weight: normal;
    font-size: 3.4375rem;
}

.header__subtitle {
    max-width: 60%;
    margin-bottom: 80px;
    color: #A0A0A0;
}

.header__plan {
    max-width: 70%;
    margin-bottom: 12px;
}

.header__plan, .header__plan span {
    font-size: 1.5rem;
    color: #0170B0;
}

.header__btn{
    display: block;
}


/* перенести вниз с общими стилями */



/* treatment */


.treatment {
    padding-top: 75px;
    margin-bottom: 25px;
}

.treatment__block{
    max-width: 59%;
    margin: 0 auto;
}

.treatment__img {
    width: 100%;
    margin-bottom: 20px;
}

.treatment__text {
    position: relative;
    max-width: 55%;
    margin-left: 42px;
    font-size: 1.125rem;
    line-height: 120%;
}

.treatment__text::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -42px;
    width: 28px;
    height: 44px;
    background-image: url(./svg/before-after.svg);
}

.treatment__text span {
    font-size: 1.125rem;
}

/* PRODUCTS */


.products {
    overflow: hidden;
    padding-top: 35px;
    margin-top: 50px;
    background: linear-gradient(276.67deg, rgba(1, 112, 176, 0.94) -6.86%, rgba(24, 187, 235, 0.94) 104.01%);
    color: white;
}

.products__wrap {
    position: relative;
}

.products__title {
    margin-bottom: 25px;
    color: white;
}

.products__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products__item {
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 50px;
}

.products__icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 17px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.icon-1 {
    background-image: url(./svg/product-1.svg);
}

.icon-2 {
    background-image: url(./svg/product-2.svg);
}

.icon-3 {
    background-image: url(./svg/product-3.svg);
}

.icon-4 {
    background-image: url(./svg/product-4.svg);
}

.icon-5 {
    background-image: url(./svg/product-5.svg);
}

.icon-6 {
    background-image: url(./svg/product-6.svg);
}

.products__item-title {
    margin-bottom: 6px;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
}

.products__item-desc {
    color: #AAE8FF ;
}


.products__img-block {
    position: absolute;
    max-width: 485px;
    width: 41%;
    bottom: -25%;
    right: -31%;
}

.products__img{
    width: 100%;
}


@media (max-width: 1200px) {
    .products__img-block {
        bottom: -22%;
        right: -31%;
    }
}

/* CONSULT */

.consult{
    margin-bottom: 50px;
    overflow: hidden;
}

.consult__wrap{
    display: flex;
    align-items: center;
}

.consult__icon {
    color: #BDBDBD;
}


.consult__img {
    position: relative;
    width: 100%;
    left: -40px;
}

.consult__right {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.consult__right-title{
    font-size: 1.5rem;
    line-height: 150%;
    color: #29292B;
    margin-bottom:5px;
}

.consult__right-subtitle {
    font-size: 0.875rem;
    line-height: 150%;    
    color: #A0A0A0;
    margin-bottom: 20px;
}


.consult__form {
    display: flex;
    flex-direction: column;
}

.consult__btn {
    border: none;
    margin-bottom: 45px;
}
.consult__right-person{
    margin-bottom: 25px;
    left: 50px;
}

.consult__right-person::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 35px;
    height: 40px;
    background-image: url(./svg/consultant.svg);
}

.consult__right-address{
    left: 50px;
}

.consult__right-address::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 40px;
    left: -48px;
    top: 0;
    background-image: url(./svg/consultant-address.svg);
}

.consult__right-person, .consult__right-address {
    font-size: 0.875rem;
    line-height: 120%;
    position: relative;
}

.consult__right-person span, .consult__right-address span{
    font-size: 1.125rem;
}



/* BECAUSE */

.because {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./svg/line-2.svg);
}


.because__title {
    margin-bottom: 25px;
}

.because__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}


.because__item:last-child{
    margin-bottom: 50px;
}

.because__item-rewerse {
    text-align: right;
    flex-direction: row-reverse;
}

.because__subtitle {
    font-weight: 800;
    font-size: 3.875rem;
    background: linear-gradient(#EDEDED, white); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
}

.because__text, .because__text span{
    font-size: 1.375rem;
}

.because__img{
    position: relative;
    right: -70px;
}

.because__item-rewerse .because__img{
    left: -70px;
}


/* SLIDER */

.slider {
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: 0 0; */
    background-image: url(./img/line-3.png);
}

.slider__container {
    width: 100%;
    margin-bottom: 50px;
    
}

.slider__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.slider__row {
    display: flex;
    align-items: flex-end;
    margin: 0 50px;
}

.slider__item-before, .slider__item-after{
    width: 204px;
    height: 435px;
}

.slider__item {
    width: 100%;
}

.slider__arrow-right {
    transform: rotate(-180deg);
}

.slider__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.slider__dots-item{
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #9FDBEC;
}

.slider__dots-item:not(:last-child){
    margin-right: 5px;
}


.active {
    background: linear-gradient(316.47deg, #0082D5 4.47%, #2FCFFE 110.72%);
    width: 16px;
    height: 16px;
}


/* FAQ */

.faq {
    overflow: hidden;
    background-image:linear-gradient(to bottom, rgb(1, 112, 176, 0.9), rgb(24, 187, 235, 0.9)), url('./img/faq-form-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 70px;
}

.faq__wrap {
    display: flex;
    justify-content: center;
}

.faq__left {
    width: 40%;
    margin-right: 135px;
}

.faq__title{
    margin-bottom: 25px;
    font-size: 2.25rem;
    font-weight: normal;   
    color: #FFFFFF;
}

.faq__item {
    margin-bottom: 16px;
    padding: 20px 16px 20px 20px;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.active-item .faq__icon{
    transform: rotate(-180deg);
}

.faq__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__item-title:hover .faq__question{
    color: #0082D4;
}

.faq__question {
    font-size: 1.25rem;
    font-weight: normal;
}

.faq__active {
    color: rgb(1, 112, 176);
}

.faq__answer {
    max-width: 90%;
    font-size: 0.875rem;
    line-height: 21px;
    color: #29292B;
    margin-top: 20px;
}

.faq__right {
    padding-top: 65px;
}

.faq__form{
    margin-bottom: 50px;
}

.faq__slide {
    border-radius: 15px;
}

.faq__slide-1{
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 30px 70px 40px 40px;
    
}

.faq__form-title {
    color: #29292B;
    margin-bottom: 10px;
    font-size: 1.5rem;
    line-height: 150%;
}

.faq__form-subtitle {
    margin-bottom: 30px;
    color: #A0A0A0;
}

.faq__form-form {
    display: flex;
    flex-direction: column;
}

.faq__input {
    width: 94%;
    margin-bottom: 30px;
}

.faq__button {
    border: none;
}

.faq__img {
    position: absolute;
    bottom: 0;
    right: -35px;;
}

.faq__right-bottom {
    position: relative;
    width: 423px;
    height: 155px;
    padding: 15px 0 30px 40px;
    background-image: url(./svg/faq-form-person-bg.svg);
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
    background-size: cover;
}


.faq__right-wrap {
    max-width: 50%;
}

.faq__right-title {
    font-size: 1.625rem;
    color: #0170B0;
    line-height: 120%;
    margin-bottom: 5px;
}

.faq__right-subtitle {
    font-size: 0.875rem;
    color: #6EC5E6;
    line-height: 170%;
}

.faq__right-img {
    position: absolute;
    bottom: 1px;
    right: 0;
}

/* STEPS */

.steps {
    margin-top: 45px;
    position: relative;
}

.steps__title {
    color: #0170B0;
}

.steps__wrap {
    text-align: center;
}


.steps__subtitle {
    margin-bottom: 10px;
}

.steps__span{
    display: block; 
    margin-bottom: 40px;
}

.steps__line {
    max-width: 80%;
    min-height: 165px;
    margin: 0 auto;
    text-align: center;
    /* delete height */
    background-image: url(./img/steps-line.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.steps__good-dent, .steps__bad-dent {
    position: absolute;
}

.steps__good-dent {
    right: 0%;
    top: 5%;
}

.steps__bad-dent {
    top: 41%;
    left: 4.4%;
}

.steps__desc{
    position: relative;
    min-height: 80px;
    margin-bottom: 40px;
}

.steps__text {
    display: block;
    position: absolute;
    color: #0082D5;
    top: 0;
}

.steps__text-1{
    left: 12%;
    top: -20px;
}

.steps__text-2{
    top: -50px;
    left: 29%;
}

.steps__text-3 {
    left: 45%;
    top: -18px;
}

.steps__text-4 {
    left: 61.5%;
    top: 18px;
}

.steps__text-5 {
    left: 76.5%;
}

.steps__img {
    bottom: -10%;
    position: absolute;
    width: calc(35% - 10%);
    margin-right: auto;
}


/* TEAM */
.team {
    margin-bottom: 50px;
}

.team__title {
    color: #0170B0;
    margin-bottom: 36px;
}

.team__wrap {
    display: flex;
    justify-content: center;
}

.team__aside {
    padding-top: 19px;
    margin-right: 135px;
}

.team__item:not(:last-child) {
    margin-bottom: 15px;
}

.team__item {
    display: flex;
    align-items: center;
    padding: 22px 85px 22px 45px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;    
}

.team__icon {
    width: 65px;
    height: 65px;
    margin-right: 45px;
    border: 3px solid #0082D4;
    border-radius: 100%;
    position: relative;
    background-image: url(./img/team-1.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: -29px -74px;
}

.team__icon-1 {
}

.team__icon-2 {
    background-image: url(./img/team-2.png);
    background-position: -36px -11px;
    background-size: 217%;
}


.team__icon-3 {
    background-image: url(./img/team-3.png);
    background-size: 215%;
    background-position: -40px -87px;
}

.team__icon-4 {
    background-image: url(./img/team-4.png);
    background-size: 237%;
    background-position: -40px -96px;
}

.team__right {
    
}

.team__box {
    width: 500px;
    height: 460px;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    z-index: 10;
}

.team__img {
    position: absolute;
    top: -290px;
    width: 100%;
}

.team__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: inset 0px 0px 70px 10px white;
}

.team__right-name,.team__right-subtitle {
    text-align: center;
    display: block;
}

.team__right-name {
    color: #18BBEB;
    font-size: 1.5rem;
    line-height: 120%;
    margin-bottom: 10px;
}

.team__right-subtitle {
    margin-bottom: 0;
    line-height: 120%;
}


/* ADDRESS */

.address{
    margin-bottom: 80px;
    /* background-color: gray; */
}

.address__bg-block {
    
}

.address span {
    display: block;
}

.address__wrap {
    padding: 90px 0;
    background-image: url(./img/address-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.address__row{
    display: flex;
    justify-content: flex-end;
    
}

.address__block{
    text-align: center;
    margin-right: 50px;
    padding: 15px 13px 25px 13px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.6);
}

.address__img{
    margin-bottom: 17px;
}

.address__span {
    display: block;
    margin-bottom: 4px;
    font-size: 0.875rem;
    color: #A3A3A3;
}

.address__text {
    margin-bottom: 15px;
}

.address__btn {
    display: block;
    max-width: 271px;
    margin: 0 auto;
}

/* CALL SECTION */

.call {
    
}

.call__wrap {
    display: flex;
    justify-content: center;
}

.call__left {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    flex-basis: 50%;
    /* background-color: yellowgreen; */
}

.call__title{
    max-width: 85%;
    font-weight: normal;
    margin-bottom: 10px;
    color: #0082D4;
    text-align: left;
    font-size: 2.25rem;
}

.call__subtitle {
    text-align: left;
    margin-bottom: 30px;
}

.call__form{
}

.call__input {
    width: 77%;
    margin-bottom: 30px;
}

.call__btn {
    margin-bottom: 65px;
    border: none;
}

.call__right {
    width: 57%;
    /* background-color: red; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 0;
    background-image: url(./img/price-form.png);
}


/* FOOTER */

.footer{
    background: #0170B0;
    color: #AAE8FF;
    padding-top: 40px;
    padding-bottom: 70px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    display: flex;
    flex-direction: column;
}

.footer__img{
    margin-bottom: 20px;
}

.footer__politic{
    font-size: 0.875rem;
    text-decoration: underline;
}

.footer__subtitle{
    font-size: 1.5rem;
    margin-bottom: 15px;
}


.footer__item {
    list-style: none;
    margin-bottom: 10px;
    font-size:  1.125rem;
}

.footer__contacts {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.footer__phone {
    display: block;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
}


.footer__society {
    display: flex;
    justify-content: flex-end;
}

.footer__icon {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./svg/whatsapp.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__icon:not(:last-child) {
    margin-right: 12px;
}

.footer__icon:nth-child(1){
    background-image: url(./svg/facebook.svg);
}

.footer__icon:nth-child(3){
    background-image: url(./svg/vkontakte.svg);
}

.footer__icon:nth-child(4){
    background-image: url(./svg/inst.svg);
}


.footer__dev{
    display: block;
    margin-top: auto;
    text-decoration: underline;
    font-size: 0.875rem;
    line-height: 150%;
}




@media (min-width: 1920px) {
    .nav {
        padding: 21px 60px;
    }

    .nav__item {
        margin-right: 50px;
    }

    .nav__phone {
        font-size: 1.4375rem;
    }
}

@media (max-width: 1440px) {
    .nav__logo-img {
        max-width: 149px;
        margin-right: 10px;
    }

    .nav__item {
        margin-right: 20px;
    }
    
    .nav__contacts::before {
        width: 25px;
        height: 25px;
        top: 4px;
        left: -32px;
    }
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .nav {
        padding: 21px;
    }
    .nav__item {
        margin-right: 30px;
    }
}

@media (max-width: 1199px) {
    .nav__contacts::before{
        display: none;
    }

    .nav__link {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px) {
    .nav {
        padding: 21px 5px;
    }

    .nav__item {
        font-size: 0.9rem;
    }

    .nav__phone {
        font-size: 1.2rem;
    }

    .nav__link {
        font-size: 0.86rem;
    }
} 

@media (min-width: 1024px) and (max-width:1200px)  {
    .nav__logo-img {
        max-width: 125px;
        margin-right: 0px;
    }
    .nav__logo-text {
        font-size: 0.8rem;
    }

    .nav__item {
        font-size: 0.9rem;
        margin-right: 10px;
    }
}

@media (max-width:1023px) {
    .nav__list {
        display: none;
    }
}

@media (min-width: 992px) and (max-width:1024px) {
    .nav__phone {
        font-size: 0.9rem;
    }
    /* add adaptive menu */
}


@media (min-width: 768px) and (max-width: 992px) {
    
    .title {
        font-size: 2.4rem;
    }

    .input-style {
        font-size: 1rem;
    }

    .nav__contacts{
        display: none;
    }

    .nav__menu {
        display: block;
    }

    .header__img {
        width: 90%;
    }

    .header__title, .header__title .mark-span {
        font-size: 2.8rem;
    }

    .header__subtitle {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .header__plan {
        max-width: 100%;
    }

    .header__plan, .header__plan span {
        font-size: 1.3125rem;
    }

    .treatment__text {
        max-width: 100%;
    }

    .products__icon {
        background-size: 70%;
    }

    .products__img-block {
        bottom: 0%;
        right: -30%;
    }

    .consult__wrap {
        flex-direction: column;
    }

    .consult__left {
        margin-bottom: 15px;
        width: 60%;
    }

    .consult__right {
        width: 48%;
    }

    .consult__right-person::before {
        top: -9px;
        left: -50px;
    }

    .consult__right-address::before {
        left: -48px;
        top: -10px;
    }

    .because__subtitle {
        font-size: 3.2rem;
    }

    .because__img, .because__item-rewerse .because__img {
        width: 60%;
    }

    .slider__row {
        width: 100%;
        justify-content: center;
    }

    .slider__arrow {
        display: none;
    }

    .slider__item {
        width: 215px;
    }

    .slider__item-before, .slider__item-after {
        width: 180px;
    }

    .faq__wrap {
        flex-direction: column;
        align-items: center;
    }

    .faq__left {
        width: 66%;
        margin-right: 0;
    }

    .faq__title {
        text-align: center;
    }

    .steps__bad-dent {
        width: 5%;
        top: 25%;
        left: 4%;
    }

    .steps__good-dent {
        width: 13%;
        right: -10%;
        top: 2%;
    }

    .steps__text-1{
        left: 9%;
        top: -50px;
    }
    .steps__text-2{
        top: -85px;
        left: 29%;
    }
    .steps__text-3{
        left: 46%;
        top: -60px;
    }
    .steps__text-4{
        left: 65.5%;
        top: -42px;
    }
    .steps__text-5{
        left: 81.5%;
        top: -37px;
    }

    .team__wrap {
        flex-direction: column;
    }

    .team__aside{
        display: flex;
        justify-content: center;
        margin-right: 0;
        padding-top: 0;
        margin-bottom: 10px;
    }

    .team__item {
        margin-bottom: 0;
        padding: 0;
        box-shadow: none;
    }

    .team__item:not(:last-child) {
        margin-right: 25px;
        margin-bottom: 0;
    }

    .team__icon {
        margin-right: 0;
    }

    .team__icon-name {
        display: none;
    }

    .team__box {
        margin-bottom: 40px;
        margin: 0 auto;
    }

    .team__right {
        display: flex;
        flex-direction: column;
    }

    .team__right-name {
        order: -2;
    }
    
    .team__right-subtitle {
        order: -1;
    }

    .address__wrap {
        background-position: center;
    }

    .call__title {
        max-width: 100%;
        font-size: 1.7rem;
    }

    .footer__img {
        width: 140px;
    }

    .footer__phone {
        font-size: 1.03rem;
    }

    .footer__dev {
        font-size: 0.865rem;
    }
}


@media (min-width: 576px) and (max-width: 768px) {

}


@media (min-width: 319px) and (max-width: 767px) {

    .title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 12px;
        margin-bottom: 12px;
    }
    
    .form__group {
        margin-bottom: 20px;
    }

    .input-style{
        font-size: 12px;
    }

    .input-style {
        width: 88%;
        padding-bottom: 5px;
    }

    .nav {
        padding: 10px;
    }

    .nav__menu {
        display: block;
    }

    .nav__logo-img {
        max-width: 105px;
        margin-right: 0;
    }

    .nav__logo-text {
        max-width: 105px;
        font-size: 10px;
    }

    .nav__contacts {
        display: none;
    }

    .header__wrap {
        flex-direction: column;
    }

    .header__left {
        width: 100%;
    }

    .header__right {
        width: 100%;
        text-align: center;
    }

    .header__img {
        margin-left: 0;
        width: 100%;
    }

    .header__title {
        width: 94%;
        margin: auto;
        margin-bottom: 10px;
        font-size: 30px;
    }

    .header__title .mark-span {
        font-size: 30px;
    }

    .header__subtitle {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .header__plan {
        display: none;
    }

    .header__btn {
        margin: 0 auto;
    }

    .treatment {
        padding-top: 40px;
        margin-bottom: 15px;
    }

    .treatment__title {
        font-size: 24px;
        text-align: left;
    }

    .treatment__subtitle {
        text-align: left;
    }

    .treatment__block {
        max-width: 100%;
        margin: 0;
    }

    .treatment__img {
        margin-bottom: 15px;
    }

    .treatment__text {
        max-width: 100%;
        font-size: 10px;
    }

    .treatment__text::before {
        left: -26px;
        width: 17px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .treatment__text span {
        font-size: 10px;
    }

    .products {
        padding-top: 25px;
        margin-bottom: 35px;
    }
    
    .products__item {
        flex-basis: 50%;
        margin-bottom: 20px;
    }

    .products__icon {
        width: 73px;
        height: 73px;
        background-size: 70%;
    }

    .products__item-title {
        font-size: 15px;
        margin-bottom: 7px;
    }

    .products__item-desc {
        font-size: 8px;
        line-height: 9px;
    }

    .consult {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .consult__wrap {
        align-items: start;
    }

    .consult__title {
        text-align: left;
        color: #1C9DE6;
        margin-bottom: 7px;
    }

    .consult__title .mark-span {
        color: black;
    }

    .consult__subtitle {
        text-align: left;
    }

    .consult__subtitle .mark-span {
        font-size: 12px;
    }

    .consult__wrap {
        flex-direction: column;
    }

    .consult__left {
        display: none;
    }

    .consult__right-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .consult__right-subtitle {
        font-size: 10px;
        margin-bottom: 15px;
    }

    .consult__btn {
        max-width: 169px;
        font-size: 12px;
        padding: 12px 0;
        margin-bottom: 18px;
    }

    .consult__icon {
        font-size: 8px;
    }
    .consult__right-person {
        margin-bottom: 15px;
        left: 33px;
    }
    
    .consult__icon::before {
        left: -31px;
        width: 17px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .consult__icon .mark-span {
        font-size: 10px;
    }

    .consult__right-address {
        left: 33px;
    }

    .consult__right-address::before {
        top: -2px;
        width: 15px;
    }

    .because{}

    .because__img {
        right: -6px;
        max-width: 227px;
        max-height: 155px;
    }

    .because__img:nth-child(1){
        width: 227px;
    } 

    .because__item {
        margin-bottom: 15px;
    }

    .because__item:not(:first-child) {
        align-items: center;
    }

    .because__item-rewerse .because__img {
        left: 4px;
        max-width: 222px;
    }

    .because__title {
        margin: 0 auto;
        margin-bottom: 15px;
        max-width: 93%;
    }

    .because__subtitle {
        font-size: 20px;
        line-height: 30px;
    }

    .because__text, .because__text span {
        font-size: 12px;
        line-height: 18px;
    }

    .because__text:nth-child(1) {
        width: 125px;
    }

    .because__text:nth-child(2) {
        width: 155px;
    }
    .because__text:nth-child(3) {
        width: 146px;
    }

    .because__item-rewerse, .because__item:nth-child(:last-child) {
        align-items: center;
    }

    .because__desc:nth-child(2) {
        width: 29%;
    }

    .because__text:nth-child(3) {
        width: 88%;
    }

    .slider {
        overflow: hidden;
    }

    .slider__arrow {
        display: none;
    }

    .slider__item-before, .slider__item-after {
        width: 153px;
        height: 327px;
    }

    .slider__item {
        width: 201px;
    }

    .slider__dots-item {
        width: 4px;
        height: 4px;
    }

    .active {
        width: 10px;
        height: 10px;
    }

    .slider__wrap {
        margin-bottom: 40px;
    }

    .faq__wrap {
        flex-direction: column;
    }

    .faq__left {
        margin-right: 0;
        width: 100%;
    }

    .faq__title {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .faq__item {
        padding: 12px 9px 12px 12px;
    }
    
    .faq__question {
        font-size: 12px;
    }

    .faq__answer {
        max-width: 80%;
        margin-top: 10px;
        font-size: 9px;
        line-height: 13px;
    }

    .faq__icon {
        width: 17px;
    }

    .faq__right {
        padding-top: 20px;
    }

    .faq__slide {
        text-align: left;
        padding: 18px 27px 18px 16px;
    }

    .faq__form {
        margin-bottom: 15px;
    }

    .faq__form-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .faq__form-subtitle {
        font-size: 10px;
        margin-bottom: 15px;
    }

    .faq__form-form .form__group{
        width: 89%;
    }

    .faq__img{
        width: 45%;
        bottom: 12px;
        right: -15px;
    }

    .faq__button{
        font-size: 11px;
        width: 169px;
        padding: 12px 25px;
    }

    .faq__right-bottom {
        width: 82%;
        height: auto;
        padding: 10px 0 15px 17px;
        background-size: contain;
    }

    .faq__right-title {
        font-size: 14px;
        line-height: 120%;
    }

    .faq__right-subtitle {
        font-size: 10px;
        line-height: 120%;
    }

    .faq__right-img {
        width: 42%;
        bottom: 4px;
        right: 3px;
    }


    .steps {
        margin-top: 25px;
        overflow: hidden;
    }

    .steps__title {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .steps__span {
        margin-bottom: 20px;
    }

    .steps__line {
        max-width: 100%;
        margin: 0;
        min-height: 185px;
        background-image: url(./img/steps-line-adaptive.jpg);
    }

    .steps__text {
        font-size: 11px;
        line-height: 13px;
    }

    .steps__text-1 {
        left: 5%;
        top: -115px;
    }

    .steps__text-2 {
        top: -130px;
        left: 39%;
    }

    .steps__text-3 {
        left: 72%;
        top: -115px;
    }

    .steps__text-4 {
        left: 10.5%;
        top: 10px;
    }

    .steps__text-5 {
        left: 39.5%;
    }

    .steps__bad-dent {
        width: 6%;
        top: 18%;
        left: 11.4%;
    }
    
    .steps__good-dent {
        width: 20%;
        right: 29%;
        top: 56%;
    }

    .steps__img {
        transform: scale(-1, 1);
        right: -18%;
        margin-right: 0;
        width: 56%;
        bottom: 10%;
    }

    .team {
        margin-bottom: 30px;
    }
    
    .team__wrap {
        flex-direction: column;
    }

    .team__aside{
        display: flex;
        justify-content: center;
        margin-right: 0;
        padding-top: 0;
        margin-bottom: 10px;
    }

    .team__item {
        margin-bottom: 0;
        padding: 0;
        box-shadow: none;
    }

    .team__item:not(:last-child) {
        margin-right: 12px;
        margin-bottom: 0;
    }

    .team__icon {
        margin-right: 0;
    }

    .team__icon-name {
        display: none;
    }

    .team__box {
        margin-bottom: 40px;
        margin: 0 auto;
        width: 100%;
        height: 308px;
    }

    .team__right {
        display: flex;
        flex-direction: column;
        max-height: 308px;
    }

    .team__right-name {
        order: -2;
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    .team__right-subtitle {
        order: -1;
        font-size: 12px;
    }

    .team__img {
        display: none;
    }

    .team__shadow {
        background-image: url(./img/team-4.png);
        background-position: bottom;
        background-size: 75%;
        background-repeat: no-repeat;
    }

    .address__wrap {
        background-size: 480%;
        background-position: 33% 150%;
    }

    .address__row {
        position: relative;
        top: 174px;
        justify-content: center;
    }

    .address__block {
        margin-right: 0;
        padding: 9px 8px 3px 8px;
    }

    .address__img {
        max-width: 241px;
        margin-bottom: 10px;
    }

    .address__span {
        font-size: 8px;
    }

    .address__text {
        font-size: 10px;
    }

    .address__btn {
        padding: 14px 20px;
        font-size: 10px;
        max-width: 202px;
    }

    .call {
        margin-top: 125px;
    }

    .call__wrap {
        flex-direction: column;
    }

    .call__title {
        max-width: 55%;
        font-size: 24px;
    }

    .call__subtitle {
        max-width: 69%;
        margin-bottom: 20px;
    }

    .call__subtitle .bold-span {
        font-size: 12px;
    }

    .call__left {
        margin-left: 0;
    }

    .call__btn {
        padding: 16px 30px;
        font-size: 12px;
    }

    .call__right {
        display: none;
    }

    .footer{
        padding: 30px 0;
    }

    .footer__wrap {
        flex-direction: column;
    }

    .footer__logo{
        align-items: center;
    }

    .footer__img{
        width: 174px;
    }

    .footer__products, .footer__company {
        display: none;
    }

    .footer__contacts {
        order: -1;
        text-align: center;
        margin-bottom: 15px;
    }

    .footer__phone {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .footer__society {
        justify-content: center;
        margin-bottom: 15px;
    }

    .footer__icon{
        width: 55px;
        height: 55px;
    }

}
/* 10px	0.625rem
11px	0.6875rem
12px	0.75rem
13px	0.8125rem
14px	0.875rem
15px	0.9375rem
16px	1rem
17px	1.0625rem
18px	1.125rem
19px	1.1875rem
20px	1.25rem
21px	1.3125rem
22px	1.375rem
23px	1.4375rem
24px	1.5rem
25px	1.5625rem
26px	1.625rem
27px	1.6875rem
28px	1.75rem
29px	1.8125rem
30px	1.875rem
31px	1.9375rem
32px	2rem
33px	2.0625rem
34px	2.125rem
35px	2.1875rem
36px	2.25rem
37px	2.3125rem
38px	2.375rem
39px	2.4375rem
40px	2.5rem
41px	2.5625rem
42px	2.625rem
43px	2.6875rem
44px	2.75rem
45px	2.8125rem
46px	2.875rem
47px	2.9375rem
48px	3rem
49px	3.0625rem
50px	3.125rem
51px	3.1875rem
52px	3.25rem
53px	3.3125rem
54px	3.375rem
55px	3.4375rem
56px	3.5rem
57px	3.5625rem
58px	3.625rem
59px	3.6875rem
60px	3.75rem
61px	3.8125rem
62px	3.875rem
63px	3.9375rem
64px	4rem */